.featured-news {
    margin-right: 20px;
    background-color: #F4F6F8;
    padding: 1%;
    border-radius: 20px;
    text-align: center;
    color: #000000;
  }
  
  .featured-image {
    width: 100%;
    margin: 10px 0;
    border-radius: 20px;
  }
  